.bonus {
	@include standartBlock(50px 0px);
	&__box {
		width: 100%;
		@include standartFlex(row, flex-start, space-between);
		padding: 50px;
		background-color: #f0f0f0;
		gap: 30px;
		@media (max-width: $media-m) {
			flex-direction: column;
			gap: 30px;
			padding: 20px;
		}
		.bonus__content {
			width: 100%;
			@include standartFlex(column, center, flex-start);
			gap: 30px;
			@media (max-width: $media-m) {
				width: 100%;
			}
			&_items {
				@include standartFlex(row, center, center);
				gap: 30px;
				@media (max-width: $media-m) {
					flex-direction: column;
				}
				.bonus__content_item {
					width: 50%;
					@include standartFlex(column, center, center);
					gap: 30px;
					@media (max-width: $media-m) {
						width: 100%;
					}
				}
				.bonus__content_text {
					width: 100%;
				}
				.bonus__content_img {
					width: 100%;
				}
			}
			&_title {
				font-family: $montserrat;
				font-size: 48px;
				font-weight: 600;
				color: $text-color;
				@media (max-width: $media-m) {
					font-size: 30px;
				}
			}
			&_text {
				font-family: $montserrat;
				font-size: 18px;
				color: $black;
				span {
					font-weight: 600;
				}
				@media (max-width: $media-m) {
					font-size: 16px;
				}
			}
			&_button {
				width: 50%;
				padding: 20px 0px;
				@include standartFlex(row, center, center);
				background-color: $blue;
			}
		}
	}
}
