.cart {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: block;
	&.hide {
		display: none;
	}
	&__background {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0.8;
	}
	.cart__content {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 560px;
		height: 80%;
		min-height: 400px;
		overflow-y: scroll;
		background-color: $white;
		opacity: 1;
		z-index: 1000;
		padding: 40px;
		border-radius: 10px;
		@include standartFlex(column, flex-start, flex-start);
		gap: 30px;
		&_title {
			font-family: $montserrat;
			font-weight: 600;
			font-size: 24px;
		}
		.cart__product {
			width: 100%;
			@include standartFlex(row, center, space-between);
			border-top: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			padding: 15px 0px;
			&_text {
				font-family: $montserrat;
				font-weight: 600;
			}
			&_right {
				@include standartFlex(row, center, flex-end);
				gap: 30px;
				.cart__product_info {
					@include standartFlex(row, center, center);
					gap: 10px;
					.cart__info_button {
						max-width: 17px;
						opacity: 0.2;
						transition: 0.45s;
						cursor: pointer;
					}
					.cart__info_text {
						font-family: $montserrat;
						font-weight: 600;
					}
				}
				.cart__product_price-total {
					font-family: $montserrat;
					font-weight: 600;
				}
				.cart__product_delete {
					max-width: 20px;
					opacity: 0.2;
					transform: rotate(45deg);
					transition: 0.45s;
					cursor: pointer;
				}
			}
			&:hover {
				.cart__info_button {
					opacity: 1;
				}
				.cart__product_delete {
					opacity: 1;
				}
			}
		}
		.cart__empty {
			width: 100%;
			@include standartFlex(row, center, center);
			gap: 10px;
			font-family: $montserrat;
			font-weight: 600;
		}
		.cart__totalPrice {
			width: 100%;
			@include standartFlex(row, center, flex-end);
			font-family: $montserrat;
			font-weight: 600;
		}
		.cart__form {
			@include standartFlex(column, flex-start, flex-start);
			gap: 40px;
			&_item {
				@include standartFlex(row, center, center);
				gap: 15px;
				width: 100%;
				position: relative;
			}
			&_input {
				padding: 15px 0px;
				width: 100%;
				border: none;
				border-bottom: 1px solid #cccccc;
				font-family: $montserrat;
				font-weight: 600;
				font-size: 15px;
				outline: none;
			}
			&_input-error {
				position: absolute;
				bottom: -30px;
				left: 0;
				font-family: $montserrat;
				color: red;
				font-weight: 600;
			}

			&_option {
				border: none;
			}
			&_button {
				width: 100%;
				background-color: $blue;
				padding: 20px 0px;
				@include standartFlex(row, center, center);
				border-radius: 10px;
				color: $white;
				font-family: $montserrat;
				font-weight: 600;
				cursor: pointer;
				outline: none;
				border: none;
			}
			&_text {
				font-family: $montserrat;
				text-align: center;
				font-weight: 600;
				font-size: 15px;
				span {
					color: $blue;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
	.cart__button-close {
		position: absolute;
		top: 1%;
		right: 1%;
		transform: rotate(45deg) scale(1.5);
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.5s;
		border-radius: 50%;
		&::before {
			content: '';
			width: 1px;
			height: 50%;
			background-color: $blue;
			position: absolute;
			transform: translateY(-50%) translateX(20px);
			top: 50%;
		}
		&::after {
			content: '';
			width: 50%;
			height: 1px;
			background-color: $blue;
			position: absolute;
			transform: translateY(20px) translateX(-50%);
			left: 50%;
		}
	}
}
