.header {
	@include standartBlock(30px 0px);

	&__lines-background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0%;
		z-index: -1;
		img {
			border-radius: 10px;
		}
	}
	&__waves-background {
		width: 100%;
		position: absolute;
		bottom: 0%;
		z-index: 5;
	}
	&__box {
		width: 100%;
		position: relative;
		padding: 50px 0px;
		.header__content {
			@include standartFlex(column, center, flex-start);
			gap: 30px;
			position: relative;
			z-index: 100;
		}
		.header__title-course-name {
			font-family: $montserrat;
			font-size: 16px;
			color: $text-color;
			font-weight: 400;
			text-align: center;
			span {
				color: $black;
				font-weight: 600;
			}
		}
		.header__slogan {
			font-family: $montserrat;
			font-size: 100px;
			color: #3e4c5c;
			font-weight: 600;
		}
		.header__subtitle {
			font-family: $montserrat;
			text-align: center;
			color: $text-color;
			font-weight: 400;
			span {
				color: $black;
				font-weight: 600;
			}
		}
		.header__lessons {
			@include standartFlex(row, flex-start, center);
			gap: 15px;
			margin-top: 40px;
			width: 100%;
			max-width: 600px;
			height: 68px;
			@media (max-width: $media-m) {
				flex-direction: column;
				align-items: center;
				height: fit-content;
			}
			&_item {
				width: 100%;
				height: 100%;
				background-color: $white;
				border-radius: 15px;
				padding: 10px;
				@include standartFlex(row, center, space-between);
				gap: 15px;
				max-width: 250px;
				.header__item_point {
					background-color: $blue;
					border-radius: 50%;
					min-width: 10px;
					height: 10px;
				}
				.header__item_content {
					width: fit-content;
					.header__content_title {
						font-family: $montserrat;
						font-size: 15px;
						span {
							font-weight: 600;
						}
						font-weight: 400;
					}
				}
			}
		}
		.header__button {
			width: 100%;
			max-width: 520px;
			@include standartFlex(row, center, center);
			padding: 25px 0px;
			border-radius: 15px;
			font-family: $montserrat;
			color: $white;
			font-weight: 500;
			font-size: 16px;
			letter-spacing: 1.5px;
			cursor: pointer;
			text-decoration: none;
			&-blue {
				background-color: $blue;
			}
			&-white {
				color: $black;
				opacity: 0.6;
				font-family: $montserrat;
				font-size: 16px;
				padding: 0px;
			}
		}
		.header__img-background {
			width: 90%;
		}
	}
}
