.tariffs {
	@include standartBlock(50px 0px);
	&__box {
		width: 80%;
		margin: 0 auto;
		@include standartFlex(row, center, space-between);
		padding: 50px;
		background-color: $blue;
		border-radius: 15px;
		@media (max-width: $media-l) {
			width: 100%;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			padding: 20px;
		}
		.tariffs__left {
			width: 45%;
			@include standartFlex(column, flex-start, space-between);
			gap: 100px;
			@media (max-width: $media-l) {
				gap: 20px;
				width: 100%;
				align-items: center;
			}

			&_title {
				color: $white;
				font-family: $montserrat;
				font-size: 64px;
				line-height: 1;
				@media (max-width: $media-m) {
					font-size: 36px;
				}
			}
			.tariffs__left_prices {
				@include standartFlex(column, flex-start, flex-start);
				@media (max-width: $media-l) {
					flex-direction: row;
					width: 100%;
					align-items: center;
					justify-content: center;
					gap: 15px;
				}
				@media (max-width: $media-m) {
					flex-direction: column;
				}
				.tariffs__prices_price {
					font-family: $montserrat;
					font-size: 30px;
					color: $white;
					font-weight: 600;
					@media (max-width: $media-m) {
						font-size: 20px;
					}
					&-discount {
						color: #79a1f7;
						font-size: 48px;
						position: relative;
						@media (max-width: $media-m) {
							font-size: 30px;
						}
						&::before {
							content: '';
							width: 100%;
							height: 6px;
							background-color: #79a1f7;
							position: absolute;
							top: 50%;
						}
					}
				}
			}
		}
		.tariffs__right {
			width: 45%;
			@include standartFlex(column, flex-start, flex-start);
			gap: 30px;
			@media (max-width: $media-l) {
				width: 100%;
				align-items: center;
			}
			&_title {
				border: 1px solid $white;
				color: $white;
				font-family: $montserrat;
				padding: 5px 15px;
				font-size: 18px;
				font-weight: 600;
				border-radius: 5px;
			}
			&_items {
				@include standartFlex(column, flex-start, flex-start);
				gap: 10px;
				width: 100%;

				.tariffs__items_item {
					width: 100%;
					@include standartFlex(row, center, flex-start);
					position: relative;
					gap: 15px;
					@media (max-width: $media-l) {
						justify-content: center;
					}
					.tariffs__item_point {
						width: 7px;
						height: 7px;
						background-color: $white;
						border-radius: 50%;
					}
					.tariffs__item_title {
						color: $white;
						font-family: $montserrat;
					}
				}
			}
			.tariffs__button {
				width: 100%;
				max-width: 340px;
				padding: 25px 0px;
				@include standartFlex(row, center, center);
				letter-spacing: 1.5px;
				border-radius: 10px;
				color: $blue;
				font-family: $montserrat;
				font-weight: 600;
				font-size: 14px;
				cursor: pointer;
				text-decoration: none;
				background-color: $white;
			}
		}
	}
}
